.main{
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-color:purple;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  
}
.button{
  height:45px;
  width:45px;
  background-color: rgb(18, 224, 139);
  border-radius: 50%;
}

.equal{
  color:aliceblue;
  background-color:black;
}
.div{
  padding:10px;
}
.button:active{
  background-color: rgb(224, 210, 18);
}
.section{
  padding: 10px;
  background-color: aquamarine;
}
.sectionn{
  padding: 10px;
  background-color: yellow;
}


.submit{
  padding:4px;
  border: 5px solid blue;
  margin:4px;
}
.nav{
  padding:4px;
  border: 5px solid ;
  margin:4px;
  background-color: aquamarine;
  width: fit-content;
  font-weight: bold;
  color:cornflowerblue;
}